.section-login-form {
  width: 400px;
  margin: 50px auto;
  padding: 20px 40px;
  background-color: #f6f6f6;

  #login-form {
    margin-top: 20px;
  }

  .main-logo {
    color: #000;
  }

  .ant-alert {
    margin: 10px 0;
  }

  .register-new-account {
    margin-top: 25px;
    line-height: 1;
  }
}