.main-logo-wrap {
  .main-logo {
    color: #fff;
    position: relative;
    padding-left: 50px;
    font-size: 1.42857em;
    height: 55px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: url('/images/logo.svg');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: left center;

    span {
      font-size: 20px;
    }
  }
}
